# Python
__pycache__/
*.pyc
*.pyo

# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente e segredos
.env
.env.*
*.env
*secret*
*api_key*
*password*
airflow/simple_auth_manager_passwords.json.generated
airflow/*.json.generated

# Dados locais
data/

# Logs
*.log
.DS_Store

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/

# Airflow
airflow/airflow.db
airflow/airflow.db-shm
airflow/airflow.db-wal
airflow/logs/

# uv
uv.lock
